<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
</head>
<body style="background-color: aliceblue;">
    <h1 style="text-align: center;color: brown;">Showdata</h1>
    <hr>
    <!-- {{stdata}} -->
     <table border="2" align="center">
        <tr>
            <td>ID</td>
            <td>Name</td>
            <td>City</td>
        </tr>
        {% for i in stdata %}
        <tr>
            <td>{{i.id}}</td>
            <td>{{i.name}}</td>
            <td>{{i.city}}</td>
        </tr>
        {% endfor %}
     </table>
  
</body>
</html>